body {
	background-repeat: no-repeat;
	background-position: center center fixed;
	background-size: cover;
	background-image:
	url(https://images.unsplash.com/photo-1471506480208-91b3a4cc78be?dpr=1&amp;auto=format&amp;fit=crop&amp;w=1080&amp;h=717&amp;q=80&amp;cs=tinysrgb&amp;crop=&quot);
}
#overlayOne {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:
	linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
	linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
	linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
}
.navbar {
	background-color: transparent;
	border: none;
	border-radius: 0;
}
.navbar-default .navbar-nav li a {
	color: #fff;
}
.navbar-default .navbar-nav li a:hover {
	color: #fff;
	opacity: 0.7;
}
.navbar-default .navbar-brand {
	color: #fff;
}
#portfolioA {
	background-color: transparent;
}
#portfolioA:active {
	color: #fff;
	box-shadow: none;
}
#portfolioA:focus {
	color: #fff;
	box-shadow: none;
}
#portfolioA:hover {
	color: #fff;
}
#portfolioA .open {
	color: #fff;
}
.navbar-default .navbar-nav .open a {
	color: #fff;
}
#portfolioMenu {
	background: transparent;
	box-shadow: none;
	border: none;
}
#portfolioMenu li a:hover {
	background-color: transparent;
	color: #fff;
	opacity: 0.7;
}
/*left class*/
.textAlignLeft {
	text-align: left;
}
/*center class*/
.textAlignCenter {
	text-align: center;
}
/*hide class*/
.hideClass {
	display: none;
}
/*bold class*/
.boldClass {
	font-weight: bold;
}
/*display inline block*/
.inlineBlockClass {
	display: inline-block;
}
/*no text decoration*/
.noListStyle {
	list-style: none;
}
/*no padding*/
.noPadding {
	padding: 0;
}
.projectContainers {
	width: 30%;
}
.cursorPointer {
	cursor: pointer;
}
.projectParagraphs {
	font-size: 1.25em;
}
.whiteText {
	color: #fff;
}
.carousel-inner {
	height: 100%;
}